@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.container{
    width: 50%;
    margin: 40px auto;
    border-radius: 10px;
    display: flex;
}
.desktop{
    width: 100%;
    border-radius: 10px 0 0 10px ;
}
.mobile{
    display: none;
}
.text{
    width: 100%;
    padding: 8px 15px;
    padding-left: 35px;
    background-color: white;
}
.text h4{
    padding-top: 20px;
    color: hsl(228, 12%, 48%);
    letter-spacing: 3px;
}
.text h1{
    padding: 17px 0;
    padding-right: 85px;
    font-family: 'Fraunces', serif;
}
p{
    color:  hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;

}
span{
    display: flex;
    
}
span h1{
    color: hsl(158, 36%, 37%);
}
span p {
    margin-top: 27px;
    padding-right: 50px;
}
.btn{
    text-align: center;
}
button{
    margin-top: 20px;
    margin-right: 40px;
    padding: 10px 75px;
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
}
svg{
    margin-right: 10px;
}

@media (max-width: 768px){
    .container{
        margin-top: 7rem;
        display: block;
        width: 100%;
        text-align: left;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        width: 100%;
    }
    .text{
        padding: 8px 30px;
    }
    .text h1{
        padding-right: 15px;
    }
    span p {
        padding-right: 0;
    }

    button{
        margin-bottom: 20px;
        margin-right: 0;
        padding: 10px 15px;
    }
}

